* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navigation {
  height: 40px;
  background-color: black;
  color: yellowgreen; }
  .navigation .navigation__list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none; }
    .navigation .navigation__list .element--nav {
      line-height: 40px;
      overflow: hidden;
      position: relative; }
      .navigation .navigation__list .element--nav:hover::before {
        left: 0px; }
      .navigation .navigation__list .element--nav::before {
        content: "";
        transition: 0.4s;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background-color: yellowgreen; }
      .navigation .navigation__list .element--nav a {
        padding: 0px 20px;
        color: white;
        text-decoration: none; }
