* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}
header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px 0;
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
nav > h2,
nav ul {
  font-size: 2em;
  list-style-type: none;
  flex-grow: 1;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
.bubble {
  position: absolute;
  z-index: -2;
  background: linear-gradient(-225deg, #23074d, #cc5333);
  transform: scale(1.6);
  transition: all 0.4s;
}
a {
  text-decoration: none;
  transition: 0.4s;
}
section {
  height: 100vh;
  text-align: center;
  line-height: 100vh;
}
.home {
  background: linear-gradient(-225deg, #23074d, #cc5333);
}
.about {
  background: linear-gradient(-225deg, #00b09b, #96c93d);
}
.portfolio {
  background: linear-gradient(-225deg, #fc4a1a, #f7b733);
}
.contact {
  background: linear-gradient(-225deg, #667db6, #0082c8, #0082c8, #667db6);
}
section h1 {
  font-size: 3rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 900;
}
