* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  overflow: hidden;
  background-color: #000;
}

p {
  padding: 20px;
}

.container {
  position: relative;
}

.container .backToTop {
  z-index: 3;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  background-color: #333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  line-height: 40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.container .backToTop > .fas {
  font-size: 20px;
  color: white;
}

.container .backToTop.active {
  display: block;
  opacity: 0.6;
  pointer-events: all;
}

.container .mainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
  height: 100vh;
  text-align: center;
  width: 80vw;
  margin: 30px auto;
  border-bottom: 2px solid red;
}

.container .mainSection .mainSection__title {
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 0px 0px 2px black;
}

.container .mainSection .mainSection__title::first-letter {
  color: #fd6500;
  text-shadow: 0px 0px 2px #fd6500;
}

.container .mainSection .mainSection__text {
  color: white;
  line-height: 1.2;
  font-size: 1rem;
}

.container .mainSection .mainSection__text::first-letter {
  color: #fd6500;
  font-size: 25px;
  font-weight: 600;
}

.container .mainSection:nth-child(even) {
  position: relative;
  border: none;
  background-color: #fff;
}

.container .mainSection:nth-child(even) .mainSection__text {
  color: black;
}

.navigation {
  position: fixed;
  z-index: 2;
  right: 0;
  height: 40px;
  background-color: black;
  width: 100vw;
  color: yellowgreen;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navigation.active {
  opacity: 0.6;
  height: 60px;
  background-color: #fff;
  border: bottom 3px solid black;
}

.navigation.active .navigation__list .element--nav {
  line-height: 60px;
}

.navigation .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
}

.navigation .navigation__list .element--nav {
  line-height: 40px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  height: 100%;
}

.navigation .navigation__list .element--nav:hover a {
  color: #fd6500;
}

.navigation .navigation__list .element--nav:hover::before {
  left: 0px;
}

.navigation .navigation__list .element--nav::before {
  content: "";
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: #fd6500;
}

.navigation .navigation__list .element--nav a {
  padding: 0px 20px;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navigation .navigation__list .element--nav a.active {
  color: black;
}

.navigation .navigation__list .element--nav a.active:hover {
  color: #fd6500;
}

.mobile {
  width: 100vw;
  background-color: black;
  height: 100vh;
  position: fixed;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  right: -100%;
  display: none;
}

.mobile.active {
  right: 0;
}

.mobile .mobile__navigation {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile .mobile__navigation .element__mobile {
  height: 10%;
}

.mobile .mobile__navigation .element__mobile:hover .mobileLink:visited {
  color: #fd6500;
}

.mobile .mobile__navigation .element__mobile:hover .mobileLink:active {
  color: #fd6500;
}

.mobile .mobile__navigation .element__mobile:hover .mobileLink::after {
  left: 0;
}

.mobile .mobile__navigation .element__mobile .mobileLink {
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile .mobile__navigation .element__mobile .mobileLink::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 15%;
  left: 0;
}

.mobile .mobile__navigation .element__mobile .mobileLink::after {
  content: "";
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 1px;
  width: 100%;
  background-color: #fd6500;
  position: absolute;
  bottom: 15%;
  left: -100%;
}

.mobile .mobile__navigation .element__mobile .mobileLink:active, .mobile .mobile__navigation .element__mobile .mobileLink:visited {
  color: #fff;
}

.burger {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 20px;
  right: 30px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  z-index: 5;
}

.burger .burger__element {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 2px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.burger .burger__element:nth-of-type(1).active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 50%;
  background-color: #fd6500;
}

.burger .burger__element:nth-of-type(2).active {
  display: none;
}

.burger .burger__element:nth-of-type(3).active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  background-color: #fd6500;
}

.header {
  position: relative;
  background-color: #000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  line-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header ::-moz-selection {
  background: yellowgreen;
  color: black;
}

.header ::selection {
  background: yellowgreen;
  color: black;
}

.header .header__logo {
  position: absolute;
  background-image: url(../img/LOGO-BIG.gif);
  background-position: center;
  background-repeat: no-repeat;
  top: 40px;
  max-height: 400px;
  width: 400px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  text-align: center;
}

.header .header__text {
  color: white;
  font-weight: 600px;
  letter-spacing: 2px;
  font-size: 48px;
  padding: 0 20px;
}

.header .header__text .header__text--left::first-letter {
  color: #fd6500;
}

.header .header__text .header__text--right::first-letter {
  color: #fd6500;
}

.header .header__text--left.force-select-all {
  -webkit-user-select: text;
  -moz-user-select: text;
   -ms-user-select: text;
       user-select: text;
}

.header .header__btn,
.header .header__btn--copy {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 40px;
  padding: 0 20px;
  border: 2px solid cadetblue;
  background-color: white;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 12px;
  font-weight: 600;
}

.header .header__btn:hover,
.header .header__btn--copy:hover {
  background-color: cadetblue;
  border-color: white;
  color: white;
  cursor: pointer;
}

.header .buttonDown {
  color: #fff;
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
}

.header .buttonDown .fa-chevron-down {
  -webkit-animation: blink infinite 2s linear;
          animation: blink infinite 2s linear;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 525px) {
  .container .mainSection {
    width: 100vw;
  }
  .mainSection {
    width: 100vw;
  }
  .mainSection .header {
    line-height: unset;
  }
  .mainSection .header .header__text {
    padding: 0;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainSection .header .header__text--left {
    font-size: 20px;
  }
  .mainSection .navigation {
    display: none;
  }
  .mainSection .mobile {
    display: block;
  }
  .mainSection .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation .navigation__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */