.header {
  position: relative;
  background-color: #000;
  justify-content: space-between;
  height: $main-height;
  line-height: $main-height;
  // font-family: $base-font;
  display: flex;
  ::-moz-selection {
    background: yellowgreen;
    color: $main-color;
  }
  ::selection {
    background: yellowgreen;
    color: black;
  }
  .header__logo {
    position: absolute;
    background-image: url(../img/LOGO-BIG.gif);
    background-position: center;
    background-repeat: no-repeat;
    top: 40px;
    max-height: 400px;
    width: 400px;
    left: 50%;
    transform: translate(-50%);
    transition: 0.4s;
    border-radius: 50%;
    text-align: center;
    // .header__logo--img {
    //   transition: 0.4s;
    // }
  }
  & .header__text {
    color: white;
    font-weight: 600px;
    letter-spacing: 2px;
    font-size: 48px;
    padding: 0 20px;

    & .header__text--left::first-letter {
      color: $hover-color;
    }
    & .header__text--right::first-letter {
      color: $hover-color;
    }
  }
  .header__text--left.force-select-all {
    -webkit-user-select: text;

    user-select: text;
  }

  .header__btn,
  .header__btn--copy {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 40px;
    padding: 0 20px;
    border: 2px solid cadetblue;
    background-color: white;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.4s;
    font-size: 12px;
    font-weight: 600;
    &:hover {
      background-color: cadetblue;
      border-color: white;
      color: white;
      cursor: pointer;
    }
  }
  .buttonDown {
    // z-index: 100;
    color: $link-color;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $link-color;
    text-align: center;
    cursor: pointer;
    // animation: blink infinite 2s 1s linear;
    line-height: 50px;
    .fa-chevron-down {
      animation: blink infinite 2s linear;
    }
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
