* {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  box-sizing: border-box;
}
:root {
  overflow: hidden;
  background-color: #000;
}
p {
  padding: 20px;
}
.container {
  position: relative;
  .backToTop {
    z-index: 3;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 20px;
    opacity: 0;
    pointer-events: none;
    background-color: #333;
    transition: 0.4s;
    text-align: center;
    line-height: 40px;
    transform: rotate(90deg);
    & > .fas {
      font-size: 20px;
      color: white;
    }
    &.active {
      display: block;
      opacity: 0.6;
      pointer-events: all;
    }
  }
  .mainSection {
    // position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    height: 100vh;
    text-align: center;
    width: 80vw;
    margin: 30px auto;
    border-bottom: 2px solid red;
    //   &.mainSection__about {
    //     height: 75vh;
    //   }
    .mainSection__title {
      color: $link-color;
      letter-spacing: 1px;
      text-shadow: 0px 0px 2px black;
      &::first-letter {
        color: $hover-color;
        text-shadow: 0px 0px 2px $hover-color;
      }
    }
    .mainSection__text {
      color: white;
      line-height: 1.2;
      font-size: 1rem;
      &::first-letter {
        color: $hover-color;
        font-size: 25px;

        font-weight: 600;
      }
    }
    &:nth-child(even) {
      position: relative;
      border: none;
      background-color: #fff;
      // width: 100vw;
      .mainSection__text {
        color: black;
      }
    }
    .mainSection__img {
    }
  }
}
