.navigation {
  position: fixed;
  z-index: 2;
  right: 0;
  height: 40px;
  background-color: black;
  width: 100vw;
  color: yellowgreen;
  transition: 0.4s;
  &.active {
    opacity: 0.6;
    height: 60px;

    background-color: #fff;
    border: bottom 3px solid black;
    .navigation__list {
      .element--nav {
        line-height: 60px;
      }
    }
  }
  & .navigation__list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

    .element--nav {
      line-height: 40px;
      overflow: hidden;
      position: relative;
      // padding: 0 20px;
      transition: 0.7s;
      height: 100%;
      &:hover a {
        color: $hover-color;
      }

      &:hover::before {
        left: 0px;
      }

      &::before {
        content: "";
        transition: 0.4s;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background-color: $hover-color;
      }
      a {
        padding: 0px 20px;
        color: white;
        text-decoration: none;
        transition: 0.4s;
        &.active {
          color: black;
          &:hover {
            color: $hover-color;
          }
        }
      }
    }
  }
}
.mobile {
  width: 100vw;
  background-color: black;
  height: 100vh;
  position: fixed;
  z-index: 1;
  transition: 0.4s;
  right: -100%;
  display: none;
  &.active {
    right: 0;
  }

  .mobile__navigation {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .element__mobile {
      height: 10%;
      &:hover .mobileLink:visited {
        color: $hover-color;
      }
      &:hover .mobileLink:active {
        color: $hover-color;
      }
      &:hover .mobileLink::after {
        left: 0;
      }

      .mobileLink {
        text-decoration: none;
        font-size: $font-mobile;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        overflow: hidden;
        transition: 0.3s;
        &::before {
          content: "";
          height: 1px;
          width: 100%;
          background-color: $link-color;
          position: absolute;
          bottom: 15%;
          left: 0;
        }
        &::after {
          content: "";
          transition: 0.4s;
          // z-index: 2;
          height: 1px;
          width: 100%;
          background-color: $hover-color;
          position: absolute;
          bottom: 15%;
          left: -100%;
        }

        &:active,
        &:visited {
          color: $link-color;
        }
      }
    }
  }
}
.burger {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 20px;
  right: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  z-index: 5;

  .burger__element {
    transition: 0.4s;
    height: 2px;
    width: 100%;
    background-color: $link-color;

    border-radius: 5px;
    &:nth-of-type(1).active {
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      background-color: $hover-color;
    }
    &:nth-of-type(2).active {
      display: none;
    }
    &:nth-of-type(3).active {
      transform: rotate(-45deg);
      position: absolute;
      top: 50%;
      background-color: $hover-color;
    }
  }
}
