@media screen and (max-width: 525px) {
  .container .mainSection {
    width: 100vw;
  }
  .mainSection {
    width: 100vw;

    .header {
      line-height: unset;
      .header__text {
        padding: 0;
        font-size: 20px;
        display: flex;
        text-align: center;

        align-items: center;
      }
      .header__text--left {
        font-size: 20px;
      }
    }
    .navigation {
      display: none;
    }

    .mobile {
      display: block;
    }
    .burger {
      display: flex;
    }
  }
  .navigation .navigation__list {
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}
